
@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@200&display=swap');

:root{
   --fonst-fm: 'Niramit', sans-serif;
   --bg: #fffff2;
   --brow-66: #ffe066;
   
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--fonst-fm);
}

a{
   text-decoration: none;
   color: inherit;
}

ul{
   list-style-type: none;
}

li{
   list-style: none;
}

body{
   background-color: var(--bg);
   height: 100vh;
}

.root-main{
   width: 100%;
   height: 100%;
   background-color: var(--bg);
}

nav{
   position: fixed;
   width: 100%;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   background-color: var(--brow-66);
   padding: 1rem 20px;
}

nav > .logo a h2{
   font-size: 2rem;
}

nav > .nav-menu{
   display: flex;
   gap: 16px;
}

header{
   /* position: absolute; */
   height: 90vh;
}

.header-img{
   width: 100%;
   height: 100%; 
   object-fit: cover;
}