
<nav>
   <div class="logo">
      <a href="/">
        <h2>ใหม่ทองเสน</h2>       
      </a>

   </div>

   <ul class="nav-menu">
      <li><a href="#">หน้าเเรก</a></li>
      <li><a href="#">ประวัติ</a></li>
      <li><a href="#">บทความ</a></li>
      <li><a href="#">กิจกรรม</a></li>
      <li><a href="#">ติดต่อ</a></li>
   </ul>
</nav>
